.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: solid 10px grey;
    gap: 10px;
    margin-top: 15px;
}
.col{
    border: solid 2px grey;
    flex-basis: 50%;
    padding-bottom: 10px;
}

table,tr,td,th{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px 10px
}

@media screen and (min-width: 300px){
    .row{
        flex-direction: column;
    }
    .col{
        flex-basis: 100%;
    }
}
@media screen and (min-width: 900px){
    .row{
        flex-direction: row;
    }
    .col{
        flex-basis: 50%;
    }
}