.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: solid 10px grey;
    gap: 10px;
    margin-top: 15px;
}
.col{
    border: solid 2px grey;
    flex-basis: 50%;
    padding-bottom: 10px;
}

table,tr,td,th{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px 10px
}

.tablecard{
    display: none;
}
.card{
    border: solid 1px black;
}
.card>h3{
    text-align: center;
    border-bottom: solid 1px black;
}
.card>p{
    border-bottom: solid 1px black;
}

.note{
    border-left: solid 5px #d73f3f;
    padding: 15px 20px;
    margin: 20px;
    background-color: antiquewhite;
}

@media screen and (min-width: 300px){
    .row{
        flex-direction: column;
    }
    .col, .card{
        flex-basis: 100%;
    }
    .tableweb{
        display: none;
    }
    .tablecard{
        display: block;
    }
}
@media screen and (min-width: 900px){
    .row{
        flex-direction: row;
    }
    .col{
        flex-basis: 50%;
    }
    .tablecard{
        display: none;
    }
    .tableweb{
        display: block;
    }
    
}